/* DefaultLayout css*/
.default-layout {
    display: grid;
    grid-template-columns: 280px 1fr; /* 메뉴와 컨텐츠 영역 분할 */
    height: 100vh;
}

.menu {
  border-right: 1px solid #ccc; /* 메뉴와 컨텐츠 사이 경계 */
}

.content {
  padding: 0 20px; /* 컨텐츠 패딩 */
  overflow-y: auto; /* 필요시 스크롤 */
}

.footer {
    grid-column: 1 / -1; /* 푸터 전체 너비 사용 */
    background-color: white;
    padding: 10px;
    text-align: center;
    height: 100px;
    bottom: 0;
    width: calc(100% - 280px);
    right: 0;
}


/* LoginLayout css*/
.login-layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top: auto;
}